@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 60 9% 98%;
    --foreground: 60 5% 10%;

    --card: 60 9% 98%;
    --card-foreground: 60 5% 10%;

    --popover: 60 9% 98%;
    --popover-foreground: 60 95% 10%;

    --primary: 142 86% 28%;
    --primary-foreground: 144 100% 97%;

    --secondary: 60 5% 90%;
    --secondary-foreground: 60 5% 10%;

    --muted: 60 5% 95%;
    --muted-foreground: 60 5% 40%;

    --accent: 60 5% 90%;
    --accent-foreground: 60 5% 10%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 60 5% 98%;

    --border: 60 6% 90%;
    --input: 60 6% 90%;
    --ring: 142 86% 28%;

    --radius: 0.5rem;

    --sidebar-background: 60 9% 98%;

    --sidebar-foreground: 60 5% 20%;

    --sidebar-primary: 142 86% 28%;

    --sidebar-primary-foreground: 144 100% 97%;

    --sidebar-accent: 60 5% 90%;

    --sidebar-accent-foreground: 60 5% 10%;

    --sidebar-border: 60 6% 90%;

    --sidebar-ring: 142 86% 28%;
  }

  .dark {
    --background: 143 13% 8%;
    --foreground: 60 5% 90%;

    --card: 143 13% 8%;
    --card-foreground: 60 5% 90%;

    --popover: 143 13% 8%;
    --popover-foreground: 60 5% 90%;

    --primary: 142 86% 28%;
    --primary-foreground: 144 100% 97%;

    --secondary: 60 5% 20%;
    --secondary-foreground: 60 5% 90%;

    --muted: 60 4% 16%;
    --muted-foreground: 60 5% 64%;

    --accent: 60 4% 16%;
    --accent-foreground: 60 5% 90%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 60 5% 90%;

    --border: 60 4% 16%;
    --input: 60 4% 16%;
    --ring: 142 86% 28%;
    --sidebar-background: 143 13% 8%;
    --sidebar-foreground: 60 5% 90%;
    --sidebar-primary: 142 86% 28%;
    --sidebar-primary-foreground: 144 100% 97%;
    --sidebar-accent: 60 4% 16%;
    --sidebar-accent-foreground: 60 5% 90%;
    --sidebar-border: 60 4% 16%;
    --sidebar-ring: 142 86% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
